h1 {
	text-align: center;
	font-family: 'Damion', cursive;
}

#button {
	text-align: center;
}

#container {
	margin-top: 10px;
	height: 400px;
	width: 700px;
	border: 1px solid black;
	display: inline-block;
}

/*.my_hover {
	background-color: blue;
}*/

.square {
	text-align: center;
	height: 4px;
	width: 4px;
	background-color: #c8c8be;
	border: 1px white solid;
	display: inline-grid;
	padding: -20px 0px -20px 0px;
};

.square2 {
	text-align: center;
	height: 5px;
	width: 5px;
	background-color: #c8c8be;
	border-style: solid;
	clear: both;
};
